body {
    background-color: antiquewhite;
}
input {
    margin: 5px;
}
input[type=text]:focus {
    background-color: lightblue;
  }
label {
    display: block;
    width: 100px;
  }

button{
    margin: auto;
}
  
h1 {
    text-align: center;
}

.formContainer {
    display: grid;
    grid-template-areas: "f e"
                         "a er";
}

.formMarka{
    display: grid;
    grid-area: f;
}
.autoTipus{
    display: grid;
    grid-area: a;
}

.evjarat{
    display: grid;
    grid-area: e;
}
.evjaratRange{
    display: grid;
    grid-area: er;
}
.submitButton{
   text-align: center;
}

@media only screen and (max-width: 408px) {
    .formContainer {
        display: grid;
        grid-template-areas: "f" 
                             "a"
                             "e" 
                             "er";
    }

  }